<ul>
  <li>
    <h2><a routerLink="/angular-example" routerLinkActive="active">Angular Example</a></h2>
  </li>
  <li>
    <h2><a routerLink="/material-lite-example" routerLinkActive="active">Material Lite Example</a></h2>
  </li>
  <li>
    <h2><a routerLink="/web-components-example" routerLinkActive="active">Web Components Example</a></h2>
  </li>
</ul>

<router-outlet></router-outlet>
